.AdminDashboard{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.admin_title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 5%;
  padding: 2%;
  margin: 2%;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

button{
  border-radius:5cm;
  min-width: max-content;
  padding: 5%;
  margin: 2%;
}